/* ESTILOS GERAIS */
html, body, figure, img, div, input, textarea,
p, h1, h2, h3, h4, h5, h6, ul, li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.coluna{
    flex-basis: 49%;
}

.hidden{
    display: none;
}

:root{
    --corBackgroundPrimaria: #45dbfc;
    --corBackgroundSecundaria: #04133d;
    --corBackgroundDark: #0e0e0e;
    --corTextoPrimaria: #636363;
    --corTextoSecundaria: #000;
}

/* BODY */
body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    background-color: var(--corBackgroundPrimaria);
    padding: 30px 30px 0;
}
header .container{
    background-color: #fff;
}
header .linha{
    align-items: center;
}
header .coluna-esquerda{
    flex-basis: 30%;
}
header .coluna-direita{
    text-align: center;
    padding: 12px;
}
header .coluna img{
    width: 100%;
}
header .coluna h1{
    font-size: 1.5rem;
    color: var(--corTextoSecundaria);
}
header .coluna p{
    font-size: 1rem;
    color: var(--corTextoPrimaria);
}
header .coluna ul{
    margin-top:20px;
}
header .coluna ul li{
    margin-bottom: 12px;
}
header .coluna ul li a{
    color: var(--corTextoSecundaria);
    font-size: 1rem;
}

/* PÃGINA INICIAL */
main .coluna{
    padding: 30px;
}
main .coluna section{
    border-bottom: 1px solid rgb(212, 233, 255);
    margin-bottom: 20px;
}
main .coluna section h2{
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--corTextoSecundaria);
}
main .coluna section p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--corTextoPrimaria);
}
main .coluna section ul li{
    margin-bottom: 13px;
    color: var(--corTextoSecundaria);
}
main .coluna section ul li h3{
    font-size: 1.1rem;
}
main .coluna section ul li strong{
    display: block;
    margin: 9px 0 2px;
    font-size: 0.9rem;
}

/* FOOTER */
footer{
    background-color: var(--corBackgroundSecundaria);
}
footer .container{
    padding: 30px;
}
footer nav .info-contato li{
    margin-bottom: 15px;
}
footer nav .info-contato li a{
    color: #fff;
}
footer nav .redes-sociais{
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
    border-top: 1px solid rgb(255 255 255 / 20%);
    margin-top: 20px;  
}
footer nav .redes-sociais li{
    margin: 0 10px;
    text-align: center;
}
footer nav .redes-sociais li a img{
    width: 40px;
}
footer nav .redes-sociais li a p{
    color: #fff;
}

/* EXTRA */
label{
    display: inline-block;
    width: 106px;
    height: 53px;
    background-color: rgb(5, 21, 61);
    position: absolute;
    right: 30px;
    border-radius: 37px;
    transition: all ease 0.3s;
}
label > span{
    background-color: rgb(197, 236, 245);
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    right: 6px;
}

.ativar-dark:checked ~ .dark-mode{
    --corBackgroundPrimaria: #000;
    --corBackgroundSecundaria: #000;
    --corTextoPrimaria: #fff;
    --corTextoSecundaria: #fff;
}
.ativar-dark:checked ~ .dark-mode header{
    background-color: var(--corBackgroundSecundaria);
}
.ativar-dark:checked ~ .dark-mode header .container{
    background-color: var(--corBackgroundDark);
}
.ativar-dark:checked ~ .dark-mode .container{
    background-color: var(--corBackgroundDark);
}
.ativar-dark:checked ~ .dark-mode main{
    background-color: var(--corBackgroundSecundaria);
}
.ativar-dark:checked ~ .dark-mode label{
    background-color: var(--corBackgroundPrimaria);
    transition: all ease 0.3s;
} 
.ativar-dark:checked ~ .dark-mode label > span{
    background-color: #fff;
    left: 6px;
}

/* MEDIA */
@media only screen and (min-width: 768px) {
    .linha{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .header{
        padding-top: 30px;
    }
    header .coluna img{
        max-width: 250px;
        border-radius: 100%;
    }   
    .container{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
    }
    header .coluna-direita{
        flex-basis: 70%;
        text-align: initial;
    }
    main .coluna section{
        border: 1px solid rgb(212, 233, 255);
        padding: 20px;
    }
    main .coluna{
        padding: 0px;
    }
    label{
        top: 30px;
        left: 78%;
        right: 0;
    }
}